@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700|Ubuntu:400,700&display=swap');
html {
    background: #f6f6f6;
    font-family: 'Ubuntu', sans-serif;      
    font-size: 0.99em;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #666;
    font-weight: 400;
    width: 100% !important;
    height: 100% !important;
  }
  
  body {
    background: #fff;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;  
    font-weight: 400;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 25px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow-x: hidden;
  }

.navbar-light{
    background:  #ffff00;
    color: #000;
    font-weight: bold;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #000;
}

.nav-categ{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background: #d9d9e9;
    width: 100%;
    padding: 2%;
}

.nav-item-cat{
    font-weight: bold;
    color: black;
    font-size: 18px;
}

.section-padding {
    padding: 60px 0;
}

.section-padding-less {
    padding: 30px 0;
}

.margin{
    margin: 2rem auto;
}

.section-title {
    font-size: 36px;
    line-height: 52px;
    padding-bottom: 20px;
    font-weight: 700;
    text-align: center;
    /*text-transform: uppercase;*/
    position: relative;
    margin-bottom: 15px;
}
  
.section-title:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 15px;
    width:38%;
    height: 2px;
    background-color: #000;
    left: 35%;
    margin-left: -45px;
}
  
.section-title:after {
    position: absolute;
    content: '';
    left: 0px;
    bottom: 0px;
    width: 35%;
    height: 2px;
    background-color: #000;
    left: 35%;
    margin-left: -30px;
}

.margin-left{
    margin-left: 11%;
}

.section-title-left h1{
    font-weight: bold;
}

.section-title-left:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width:42%;
    height: 2px;
    background-color: #000;
}

.section-title-us h1{
    font-weight: bold;
}

.section-title-us::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width:35%;
    height: 2px;
    background-color: #000;
}

.section-title-us::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: -15px;
    width: 23%;
    height: 2px;
    background-color: #000;
}

.texto{
    margin-top: 1.5rem;
    font-weight: 600;
    text-align: justify;
}


section .section-title {
    text-align: center;
    color: #000;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.btn-mas{
    margin-top: 2rem;
    background: linear-gradient(to right, #973674, #363674);
    color: #fff;
    border-radius: 2rem;

}

.btn-modal{
    width: 100%;
    height: auto;
    position: relative;
    padding: 1rem;
}

.btn-modal i{
    background: linear-gradient(to right, #973674, #363674);
    padding: .6rem .7rem;
    border-radius: 80%;
    color: #fff;
    margin-bottom: 5px;
}

.card-marca{
    margin: 2rem 0;
    width: 100%;
}


.card-producto:hover{
    border: 1px #495057;
}

.card-producto{
    width: 250px;
    height: auto;
    margin-top: 50px;
    border-radius: 6px;
    transition: all 200ms ease 0s;
}

.card-producto img{
    width: 220px;
    height: 200px;
}

.card-marca img{
    max-width: 100%;
    width: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition:-webkit-filter 1s;
    -o-transition:filter 1s;
    transition:filter 1s;
    transition:filter 1s, -webkit-filter 1s;
    -webkit-transition:-webkit-filter 1s;
    /* Aumentamos la anchura y altura durante 2 segundos */
    transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    -o-transition: 1s;
}
.card-marca:hover img{
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-transform: grayscale(0); 
    -o-transform: grayscale(0); 
}

.list-unstyled h1{
    color: #fff;
    font-weight: bold;
}

.franja{
    background: linear-gradient(to right, #973674, #363674);
    width: 100%;
    height: auto;
    padding: 5%;
}
.img-worker{
    max-width: 100%;
    margin-top: 5%;
}

.img-worker img{
    width: 100%;
    
}

.text-barra{
    padding: 5%;
    font-weight: 600;
}

.form-control-franja{
    margin-top: .5rem;
    width: 50%;
    height: calc(1.5em + .75rem + 2px);
    padding: .8rem .5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: rgb(214, 213, 213);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 1rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-form-franja{
    background-color: rgb(214, 213, 213);
    border-radius: 0.5rem;
    color: #000;
    font-weight: bold;
    padding: .3rem .5rem;
}

.btn-form-franja:hover{
    background: #e1e1e1;
}

.derecha{
    margin-top: 5%;
}
.numbers .num{
   margin-top: 5%;
}

.contact{
    margin-top: 5%;
    max-width: 100%;
}

.contact img{
    width: 60%;
    margin-left: 40%;
}

.map {
    top: 50px;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.map iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


#footer {
    padding: 60px 0;
    background: linear-gradient(to right, #973674, #363674);
}

.btn-form{
    background-color: rgb(214, 213, 213);
    padding: 0.2rem 3rem;
    border-radius: 0.5rem;
    color: #000;
    font-weight: bold;
}
.btn-form:hover{
    background: #e1e1e1;
}

textarea.form-control {
    height: 235px;
}

#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.form-control {
    margin-top: .5rem;
    margin-bottom: 2rem;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 1.7rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: rgb(214, 213, 213);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 1rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

label {
    display: inline-block;
    margin-bottom: 10rem;
    padding: auto;
    padding: 0;
    margin: 0;
    width: 100%;
    color: #fff;
    margin-bottom: 0;
    font-weight: bold;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
    }
    .contact img {
        width: 60%;
        margin-left: 20%;
    }
    .numbers .num {
        margin-top: 5%;
        align-content: center;
        text-align: center;
    }
}


#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    margin-bottom: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }


/* --- POST -- */
.post{
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    margin-bottom: 30px;
    padding: 30px;
}

.post article .titulo{
    font-size: 28px;
    font-weight: normal;
    line-height: 28px;
    margin-bottom: 10px;
}

.post article .titulo a{
    color: #000;
}

.post article .fecha{
    color: #747474;
    font-size: 14px;
    margin-bottom: 20px;
}

.post article .thumb{
    margin-bottom: 20px;
}

.post article .thumb img{
    vertical-align: top;
    width: 100%;
}

.post article .extracto{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
}

.post article .continuar{
    color: #f5871f;
    font-weight: bold;
}


/*-- Formulario -- */
.formulario{
    width: 100%;
    overflow: hidden;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="password"],
.formulario textarea{
    border: 1px solid #a8a8a8;
    border-radius: 2px;
    padding: 16px;
    width: 100%;
    display: block;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #141938;
}

.formulario input[type="text"]:focus,
.formulario input[type="email"]:focus,
.formulario input[type="password"]:focus,
.formulario textarea:focus{
    border: 2px solid #595959;
    padding: 15px;
}

.formulario textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 300px;
}

.formulario input[type="submit"]{
    padding: 15px;
    background: #595959;
    color: #fff;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
    border: none;
    float: right;
    cursor: pointer;
}  

.formulario input[type="submit"]:hover{
    background: #f5871f;
}